﻿@inherits MainLayoutBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        @*<a href="https://docs.microsoft.com/en-us/aspnet/" target="_blank">About</a>*@
        @if (!ApplicationState.IsLoggedIn)
        {
            <a href="Register">Register</a>
            <a> | </a>
            <a href="Login">Login</a>

        }
        else
        {
            <div class="text-justify" style="padding-left: 5px;">
                Welcome @ApplicationState.Email.
            </div>
            <div class="text-justify" style="padding-left: 5px;">
                <button class="btn btn-link" @onclick="Logout">Logout</button>
            </div>

        }
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
