﻿@page "/login"
@inherits LoginBase

<div class="card w-50 mx-auto">
    <article class="card-body">
        <h4 class="card-title text-center mb-4 mt-1">Sign in</h4>
        <hr>
        @if (Failed) { 
            <p class="text-danger text-center"> Login failed, Email and/or Password is incorrect</p>
        }
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                <input class="form-control" placeholder="Email or login" type="email" @bind="Email" />
            </div> <!-- input-group.// -->
        </div> <!-- form-group// -->
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input class="form-control" placeholder="******" type="password" @bind="Pass" />
            </div> <!-- input-group.// -->
        </div> <!-- form-group// -->
        <div class="form-group">
            <button class="btn btn-primary btn-block" @onclick="Login"> Login  </button>
        </div> <!-- form-group// -->
        <p class="text-center"><a href="#" class="btn">Forgot password?</a></p>
    </article>
</div> <!-- card.// -->