﻿@page "/manage"
@inherits ManageUsersBase


@if (ApplicationState.Roles.Contains("Administrator"))
{
    <h3 class="text-center">Manage Users</h3>
    <p />
    <h4 class="text-center">Administrators</h4>
    <div class="card" todo-panel>
        <div class="table-responsive">
            <table class="table table-hover text-center">
                <thead>
                    <tr>
                        @*<th class="text-center">ID</th>*@
                        <th class="text-center">Email</th>
                        <th class="text-center">Remove as Admin</th>
                        <th class="text-center">Delete</th>


                    </tr>
                    @if (Users != null)
                    {
                        @foreach (var user in Users.Admins)
                        {
                <tr>
                    @*<td>@users.Id</td>*@
                    <td>@user.Email</td>
                    <td> <button style="width: 50px;" class="btn btn-warning fa fa-user-minus" @onclick="(() => RemoveAdmin(user.Id))" /></td>
                    <td> <button style="width: 50px;" class="btn btn-danger fa fa-user-slash" @onclick="(() => DeleteUser(user.Id))" /></td>
                </tr>
                        }
                    }
                </thead>
            </table>
        </div>
    </div>
    <p />
    <h4 class="text-center">Users</h4>
    <p />
    <div class="card" todo-panel>
        <div class="table-responsive">
            <table class="table table-hover text-center">
                <thead>
                    <tr>
                        @*<th class="text-center">ID</th>*@
                        <th class="text-center">Email</th>
                        <th class="text-center">Add as Admin</th>
                        <th class="text-center">Delete</th>

                    </tr>
                    @if (Users != null)
                    {
                        @foreach (var user in Users.Users)
                        {
                            <tr>
                                @*<td>@users.Id</td>*@
                                <td>@user.Email</td>
                                <td> <button style="width: 50px;" class="btn btn-warning fa fa-user-plus" @onclick="(() => AddAdmin(user.Id))" /></td>
                                <td> <button style="width: 50px;" class="btn btn-danger fa fa-user-slash" @onclick="(() => DeleteUser(user.Id))" /></td>
                            </tr>
                        }
                    }
                </thead>
            </table>
        </div>
    </div>
}
