﻿@page "/register"
@inherits RegisterBase

<div class="card w-50 mx-auto">
    <article class="card-body">
        <h4 class="card-title text-center mb-4 mt-1">Register</h4>
        <hr>
        @if (Failed)
        {
            <p class="text-danger text-center">@Error</p>
        }
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                <input class="form-control" placeholder="Email or login" type="email" @bind="Email" />
            </div> <!-- input-group.// -->
        </div> <!-- form-group// -->
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input class="form-control" placeholder="******" type="password" @bind="Pass" />
            </div> <!-- input-group.// -->
        </div> <!-- form-group// -->
        <div class="form-group">
            <button class="btn btn-primary btn-block" @onclick="Register"> Register  </button>
        </div> <!-- form-group// -->
    </article>
</div> <!-- card.// -->

@code {

}
