﻿@inherits TodoBase
@using Humanizer
@using Todo.Shared.Models
@page "/Todo"
<h3>Todo</h3>


<div class="card" todo-panel>
    <div class="table-responsive">
        <table class="table table-hover text-center">
            <thead>
                <tr>
                    <th class="text-center">&#x2714</th>
                    <th class="text-center">Item</th>
                    <th class="text-center">Due</th>
                </tr>
                @foreach (var item in Items)
                {
                    <tr>
                        <td>
                            <input type="checkbox" class="done-checkbox" @onclick="(() => MarkDone(item.Id))" />
                        </td>
                        <td>@item.Title</td>
                        <td>@item.DueAt.Humanize()</td>
                    </tr>
                }
            </thead>
        </table>


        @*Add Item Section*@
        <div class="card-footer form-group">
            <MatTextField Label="Add a new Item:" @bind-Value="@Title" />
            <MatDatePicker Label="Deadline:" @bind-Value="@DueAt" EnableTime="true" />
            <MatButton style="margin-top: -28px" Unelevated="true" @onclick="AddNewItem">Add</MatButton>
        </div>
    </div>
</div>
